{% include "header.html" %}

{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
  <section class="header" style="background-image: url('https://images.unsplash.com/photo-1444418776041-9c7e33cc5a9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80')">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto sub-section">
          <h1>New Cafe</h1>
            <span class="sub-heading">Let us know about great new cafes!</span>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 mx-auto add-form button">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }}
      </div>
    </div>
  </div>

{% include "footer.html" %}



