{% include "header.html" %}

<!-- Page Header -->
<section class="header" style="background-image: url('{{cafe.img_url}}')">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto sub-section">
                <div class="sub-heading">
                    <h1>{{cafe.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cafe Details -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="cafe-details">
                    <p><i class="fas fa-map-marker-alt detail-icon"></i>Location: {{cafe.location}}</p>
                    <p><i class="fas fa-chair detail-icon"></i>Seating: Cafe has {{cafe.seats}} seats available</p>
                    <p><i class="fas fa-coffee detail-icon"></i>Coffee Price: {{cafe.coffee_price}}</p>
                    {% if cafe.has_sockets: %}
                    <p><i class="fas fa-battery-full detail-icon"></i>Charging Sockets Available</p>
                    {% endif %}
                    {% if cafe.has_wifi: %}
                    <p><i class="fas fa-wifi detail-icon"></i>WiFi Available</p>
                    {% endif %}
                    {% if cafe.has_toilet: %}
                    <p><i class="fas fa-restroom detail-icon"></i>Bathroom Available</p>
                    {% endif %}
                    {% if cafe.can_take_calls: %}
                    <p><i class="fas fa-phone-alt detail-icon"></i>Allowed to take calls in the cafe</p>
                    {% endif %}
                    <p><a href="{{cafe.map_url}}">Google Maps Link</a><p>
                    <a class="btn btn-dark btn-lg button" href="{{url_for('show_cafes', cafe_id=cafe.id)}}">Show All Cafes</a>
                    <a class="btn btn-dark btn-lg button" href="{{url_for('delete_cafe', cafe_id=cafe.id)}}">Report Cafe As Closed</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
            <div id="map" style="height: 500px;"></div>
            <script>
            let map;

            const cafe = {{coordinates|tojson}};

            function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: { lat: cafe[1], lng: cafe[2] },
            });
            setMarkers(map);
            }



            function setMarkers(map) {
            new google.maps.Marker({
              position: { lat: cafe[1], lng: cafe[2] },
              map,
              title: cafe[0],
            });
            }
            </script>

            <script
              src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
              async
            ></script>
        </div>
        </div>
    </div>

{% include "footer.html" %}