<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Googlemaps Example</title>
<!--    {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419,-122.4149)])}} {{mymap.js}} {{sndmap.js}}-->
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
     <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</head>
<body>
<!--    <h1>Flask Google Maps Example</h1>-->

<!--    <h2>Template function centered, no marker</h2>-->
<!--    {{googlemap("simple-map", lat=37.4419, lng=-122.1419)}}-->

<!--    <h2>Template filter decoupled with single marker</h2>-->
<!--    {{"decoupled-map"|googlemap_html(37.4419, -122.1419)}}-->

<!--    <h2>Template Function with multiple markers</h2>-->
<!--    {% with map=googlemap_obj("another-map", 37.4419, -122.1419, markers=[(37.4419, -122.1419), (37.4300, -122.1400)]) %}-->
<!--    {{mymap.html}}{{map.js}}-->
<!--    {% endwith %}-->

<!--    <h2>First map generated in view</h2>-->
<!--    {{mymap.html}}{{mymap.js}}-->

<!--    <h2>Second map generated in view</h2>-->
<!--    {{sndmap.html}}-->
<h1>Leaflet Map</h1>


</body>
</html>